html {
    font-size: 13px;
}

body {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.row.row-top>.col>div {
    height: 100%;
    margin: auto;
    display: table;
}

.row.row-top>.col>div>p {
    vertical-align: middle;
    display: table-cell;
}

.row.row-company-documents {
    margin-top: 20px;
    margin-bottom: 20px;
}

.row.row-company-documents a {
    text-decoration: none;
}

.row.row-company-documents a:hover {
    color: black;
    font-weight: bold;
}

.row.row-company-documents h5 {
    font-weight: bold;
}

hr {
    width: 100%;
}

.hr-black {
    padding: 0;
    border: none;
    border-top: 1px solid lightgray;
    background-color: lightgray;
}

.table td,
.table th {
    padding: 0.25rem;
}

.table thead th {
    border-top: none;
    border-bottom: none;
}

.table tbody td {
    border: 1px solid black;
}

.table tbody tr>td:first-of-type {
    border-left: none;
}

.table tbody tr>td:last-of-type {
    border-right: none;
}

#addCompanyForm .form-row:last-of-type {
    margin-top: 45px;
}

#addCompanyForm .form-row:last-child .form-group:last-child {
    padding-bottom: 25px;
    padding-top: 30px;
    padding-left: 25px;
}

#contextMenu {
    padding: 7px 17px;
}

#contextMenu>li {
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
}

.table-hover td button {
    width: 100%;
    height: 100%;
    text-align: center;
}

.table-hover td button:hover {
    cursor: pointer;
    color: red;
}

nav, nav > .container {
    min-height: 110px;
}

.navbar-brand {
    position: absolute;
    left: 15px;
    top: -7px;
    padding: 19px;
    background-color: white;
    z-index: 1;
}

.navbar-text {
    padding-left: 175px;
    white-space: nowrap;
    font-style: italic;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-text {
    color: #3F3F3F;
}

.navbar-nav .nav-link {
    white-space: nowrap;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #0092DB;
    font-weight: bold;
}

.navbar {
    background-color: #EDEDEE;;
}

.navbar .nav-item {
    color: #3F3F3F;
    z-index: 2;
    background-color: #EDEDEE;
}

.navbar .nav-link:hover {
    color: black;
}

.navbar-toggleable-md .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-toggleable-md .navbar-nav .nav-item:last-of-type .nav-link {
    padding-right: 0;
}

.navbar-toggler {
    z-index: 3;
    position: absolute;
    top: 37px;
    right: 15px;
}

.navbar-toggleable-md .navbar-nav .nav-link {
    margin: auto;
    padding-left: 19px;
    padding-right: 19px;
}

@media (min-width: 0px) {
}

@media (max-width: 575px) {
    .navbar > .container {
        width: 100%;
    }
    .tab-container > .row:first-of-type {
        height: 200px;
    }
    h1 {
        font-size: 17px;
    }
    .navbar-text {
        display: none;
    }
    .navbar-brand {
        left: 0;
    }
    .container-big-blue > .row > .col,
    .container-big-blue .container > .row > div:first-child {
        padding-left: 0;
    }
    .footer-row > div[class^="col"]:last-of-type > p {
        display: block;
        margin-bottom: 35px;
    }
    .tab-toggle {
        width: 35px;
    }
    .tab-toggle > * {
        max-width: 35px;
        font-size: 50%;
    }
    .tab-toggle > div {
        height: 35px;
    }
    .ref-list-row div[class^="col"] ul {
        padding-left: 0;
    }
}

@media (min-width: 576px) {
    .row-infolists {
        height: 535px;
    }
    .tab-container > .row:first-of-type {
        height: auto;
    }
    .navbar-toggleable-md .navbar-nav .nav-link {
        width: 540px;
    }
    footer .container {
        padding-bottom: 60px;
    }
    .footer-row > div[class^="col"]:last-of-type {
        border-top: 1px solid white;
        padding-top: 30px;
        margin-top: 23px;
        text-align: center;
        display: block;
    }
    .footer-row > div[class^="col"]:last-of-type > p {
        display: inline-block;
        width: 32%;
    }
    .ref-list-row div[class^="col"]:first-of-type ul {
        padding-left: 45px;
    }
}

@media (max-width: 767px) {
    .row-infolists {
        display: table-row-group;
    }
    .navbar-toggler {
        background-color: #EDEDEE;
    }
    .tab-toggle {
        width: 75px;
    }
    .tab-toggle > * {
        max-width: 75px;
        font-size: 75%;
    }
    .tab-toggle > div {
        height: 75px;
    }
    *[class^="no-mobile-sm"],
    *[class^="no-mobile-sm"] *,
    .no-mobile-sm,
    .no-mobile-sm * {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .row-infolists {
        display: flex; 
    }
    .navbar-toggleable-md .navbar-nav .nav-link {
        width: 720px;
    }
    .container-note .container .row div[class^="col"] p {
        white-space: nowrap;
    }
}

@media (max-width: 850px) {

}

@media (min-width: 851px) {
}


@media (max-width: 991px) {
    .big-blue-center-note span:first-of-type {
        display: block;
    }
    *[class^="no-mobile"],
    *[class^="no-mobile"] *,
    .no-mobile,
    .no-mobile * {
        display: none !important;
    }
    .unpaded-mobile {
        padding: 0;
    }
    .navbar-collapse.collapse.show,
    .navbar-collapse.collapsing {
        position: absolute;
        top: -7px;
        left: 0;
        width: 100%;
        z-index: 2;
    }
    .navbar-toggleable-md .navbar-nav .nav-link {
        background-color: rgb(193, 193, 200);
    }
    h1 {
        font-size: 25px;
    }
    .row-aligned-text > div:last-child > * {
        margin-right: auto;
    }
    .footer-row > div[class^="col"]:last-of-type {
        border-top: 1px solid white;
        padding-top: 30px;
        margin-top: 23px;
        text-align: center;
        display: block;
    }
    .big-blue-center-note span {
        display: block;
        margin-left: 14px;
        margin-right: 14px;
    }
}

@media (min-width: 992px) {
    .row-infolists {
        height: 250px; 
    }
    .navbar-toggleable-md .navbar-nav .nav-link {
        padding-left: 11px;
        padding-right: 11px;
    }
    .navbar-toggleable-md .navbar-nav .nav-link {
        width: initial;
    }
    h1 {
        font-size: 28px;
    }
    .row-aligned-text > div:last-child > * {
        margin-right: 0;
    }
    .footer-row > div[class^="col"]:last-of-type {
        border-left: 1px solid white;
        border-top: none;
        padding-top: 0;
        margin-top: 0;
        display: grid;
        text-align: left;
    }
    .footer-row > div[class^="col"]:last-of-type > p {
        margin: auto 0;
        width: 100%;
    }
    .ref-list-row div[class^="col"]:nth-last-of-type(2) ul {
        padding-left: 55px;
    }
    .ref-list-row div[class^="col"]:last-of-type ul {
        padding-left: 70px;
    }
}

@media (max-width: 1199px) {
    .tab-toggle > p {
        display: none;
    }
    .tab-toggle > span {
        padding-top: 10px;
    }
    .tab-toggle {
        width: 90px;
    }
    .tab-toggle > * {
        max-width: 90px;
        font-size: 90%;
    }
    .tab-toggle > div {
        height: 90px;
    }
}

@media (min-width: 1200px) {
    .tab-toggle {
        width: 130px;
    }
    .tab-toggle > * {
        max-width: 130px;
    }
    .tab-toggle > div {
        height: 100px;
    }
    .tab-toggle > span {
        padding-top: 20px;
    }
}

.container-padded {
    padding-top: 45px;
    padding-bottom: 45px;
}

.container-fluid-padded {
    padding: 15px 50px;
}

.container-fluid-padded:nth-of-type(2) {
    margin-top: 35px;
}

.container-big-blue {
    color: white;
    background: #0092DB;
    min-height: 225px;
    display: grid;
    margin-bottom: 35px;
    width: 100%;
    display: table;
}

.container-big-blue > .row {
    display: table-cell;
    vertical-align: middle;
}

.container-top {
    background-color: #EDEDEE;
}

.container-top .row {
    height: 115px;
}

.company-login-form,
.admin-logout-form {
    float: right;
}

.company-login-form > * {
    margin: 7px;
}

.company-login-form > *:last-child {
    margin-right: 0;
}

.form-admin-login {
    width: 40%;
    min-width: 230px;
    margin: auto;
}

.form-admin-login>* {
    margin-bottom: 20px;
}

.container-imgnavbar > .note-center-grey {
    margin-bottom: 0;
    font-size: 16px;
}

.tab-toggle.active span {
    font-weight: bold;
    color: black;
}

.note-center-grey {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: #3F3F3F;
}

.margins-sm-td {
    margin-top: 35px;
    margin-bottom: 35px;
}

.margins-md-td {
    margin-top: 40px;
    margin-bottom: 40px;
}

.margins-lg-td {
    margin-top: 70px;
    margin-bottom: 70px;
}

.padded-lg-td {
    padding-top: 70px;
    padding-bottom: 70px;
}

.tab-toggle > span {
    color: #3F3F3F;
    display: block;
    max-width: 130px;
    margin: auto;
}

.container-imgnavbar {
    padding: 25px 0;
}

.imgnavbar {
    width: 100%;
    /* margin-left: 0;
    margin-right: 0; */
    margin: auto;
}

.imgnavbar .col:hover {
    cursor: pointer;
}

.imgnavbar .col:hover span {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 575px) {
    .ref-list-row {
        text-align: center;
    }
}

.ref-list-row div[class^="col"] ul {
    list-style-type: none;
    font-size: 0.85rem;
    height: 100%;
    width: 229px;
    margin: auto;
    display: grid;
}

.ref-list-row div[class^="col"]:last-of-type ul {
    height: auto;
}

.ref-list-row div[class^="col"]:last-of-type ul li:last-of-type {
    margin-top: 30px;
    font-style: italic;
    font-weight: bold;
}

.ref-list-row div[class^="col"] ul li {
    margin-bottom: 12px;
}

.ref-img-row div[class^="col"] img {
    margin: auto;
    display: block;
    margin-bottom: 40px;
}

.main-content-container {
    background-color: #3390DD;
}

.main-content-container h2 {
    font-size: 25px;
    margin-bottom: 1.1rem;
}
.main-content-container .h2-subheader {
    font-style: italic;
    margin-bottom: 20px;
}

.big-blue-center-note {
    text-align: center;
    color: white;
    font-size: 1.45rem;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 45px;
}

.big-blue-center-note span:first-of-type {
    font-style: italic;
    font-weight: initial;
}

.padded-spans-container span {
    margin-left: 14px;
}

.padded-spans-container span:last-of-type {
    margin-right: 14px;
}

.padded-spans-min-container span {
    margin-left: 0.5rem;
}

.padded-spans-min-container span:last-of-type {
    margin-right: 0.5rem;
}

ol > li {
    margin-bottom: 7px;
}

.main-content-container .container > .row:first-of-type {
    padding-top: 40px;
}

.main-content-container .container > .row:last-of-type {
    padding-top: 40px;
    padding-bottom: 25px;
}

footer {
    background-color: #3492DD;
    color: white;
    padding-top: 60px;
}

footer .container > div[class^="row"]:first-of-type h2 {
    font-weight: bold;
}

footer .container > div[class^="row"]:first-of-type h2 > span {
    font-weight: initial;
    display: block;
    margin-top: 7px;
    font-size: 1.6rem;
}

.footer-row {
    min-height: 170px;
}

.footer-row > div[class^="col"]:first-of-type {
    margin-top: 35px;
}

.footer-row > div[class^="col"]:last-of-type > p:first-of-type > span:first-of-type {
    font-size: 1.2rem;
    font-weight: bold;
}

.subfooter-row {
    background-color: #2C7DBB;
    text-align: center;
    padding: 10px 0;
}

.notestyle {
    font-style: italic;
    font-size: 15px;  
}

.container-note {
    background-color: #EDEDEE;
    font-style: italic;
    font-size: 15px;  
}

.container-note .container .row {
    background: white;
    margin: 0;
}

.container-note .container .row:first-of-type {
    padding-top: 25px;
}

.container-note .container .row:last-of-type {
    margin-bottom: 60px;
    padding-top: 30px;
    padding-bottom: 43px;
}

.container-note .container .row div[class^="col"] p {
    padding-left: 25px;
    margin-bottom: 0;
}

.container-note h2 span {
    display: block;
}

.container-note h2 span:first-of-type {
    margin-top: 1.8rem;
    margin-bottom: 0.25rem;
}

.container-note h2 span:last-of-type {
    color: #3492DD;
    font-weight: bold;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 22px;
}

form h2 {
    font-size: 1.5rem;
}

.selected-section-marker {
    width: 0;
    height: 0;
    border-left: 27px solid transparent;
    border-right: 27px solid transparent;
    border-top: 33px solid white;
    margin-left: 69%;
    margin-top: 65px;
    margin-bottom: 25px;
}

.selected-section-marker-disabled {
    width: 100%;
    margin-top: 65px;
    height: 65px;
}

.proccess-nav-container {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.proccess-nav-container div[class^="col"] {
    margin-top: 5px;
    margin-bottom: 5px;
}

.proccess-nav-container div[class^="col"] span {
    white-space: nowrap;
    color: #3F3F3F;
}

.proccess-nav-container div[class^="col"] span.active {
    font-weight: bolder;
}

.question-container {
    margin-top: 25px;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.answer-option-radio {
    color: red;
}

.instruction-text {
    font-style: italic;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

h3.instruction-text {
    margin-top: 40px;
    margin-bottom: 40px;
}

.select-question-group-container ol {
    height: 100%;
    display: grid;
    font-size: 1.3rem;
    padding-left: 25px;
}

.select-question-group-container li {
    padding-left: 10px;
}

.select-question-group-container li a {
    text-decoration: none;
    color: #3F3F3F;
    display: block;
}

.select-question-group-container li a:hover {
    font-weight: bold;
}

.select-question-group-container li a:hover h3 {
    font-weight: bolder;
}

.select-question-group-container li h3 {
    margin-bottom: 0;
}

.select-question-group-container>div:last-of-type .col:last-of-type  p {
    width: 75%;
    margin: auto;
}

.text-black {
    color: black !important;
}

.text-blue {
    color: #0092DB !important;
}

.text-orange {
    color: #F64F1B !important;
}

.text-grey {
    color: #3F3F3F !important;
}

.text-green {
    color: #34A637 !important;
}

.text-red {
    color: red !important;
}

#startTestButton {
    padding-top: 25px;
    padding-bottom: 25px;
    border : none;
    background-color: #34A637;
}

#startTestButton.disabled, #startTestButton:disabled {
    background-color: lightgrey;
    color: darkslategrey;
}

.italic {
    font-style: italic;
}

.download-select-container div[class^="col"] {
    background-color: #3390DD;
    padding-top: 25px;
    padding-bottom: 25px;
}

.download-select-container a {
    text-decoration: none;
    vertical-align: middle;
}

.download-select-container a:hover * {
    color: black;

}

.download-select-container a,
.download-select-container img {
    display: inline-block;
}

.download-select-container span {
    display: block;
    text-align: left;
    padding-left: 10px;
    color: white;
}

.question-group-note-container * {
    font-size: 1.1rem;
}

.question-group-note-container .row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.userinfo-col>div {
    display: grid;
    height: 100%;
    text-align: right;
}

.userinfo-col p {
    margin-top: auto;
    margin-bottom: auto;
}

.test-finished-message-container h2 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: bold;
}

.test-finished-message-container button {
    margin-top: 30px;
    font-size: 0.875rem;
}

button:hover,
input:hover{
    cursor: pointer;
}

.online-test-logo-container .row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.online-test-logo-container p {
    margin: auto;
    width: 350px;
}

.online-test-logo-container img {
    margin-top: 20px;
}

.btn-light-blue {
    background-color: #7ECEFF;
    color: white;
}

.notebox-blue {
    width: 100%;
    background-color: #0092DB;
    color: white;
    padding: 5px 10px;
    font-size: 1.1rem;
}

ul.list-items {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 30px;
}

ul.chapters {
    margin-top: 25px;
    margin-bottom: 25px;
}

ul.chapters > li {
    font-weight: bold;
    font-size: 19px;
    margin: 4px;
    margin-bottom: 7px;
}

ul.chapters > li > a {
    color: #3F3F3F;
}

ul.chapters > li > a:hover {
    color: #0092DB;
    text-decoration: none;
}

ul.list-subcompanies > li span:first-of-type {
    font-size: 18px;
}

ul.list-subcompanies > li span:last-of-type {
    font-style: italic;
    font-size: 12px;
}

ul.list-subcompanies > li > a:hover {
    color: black;
    text-decoration: none;
}

ul.list-documents li {
    height: 28px;
}

.panel-default {
    border: 0;
    padding-bottom: 45px;
    box-shadow: 0;
}

.panel {
    box-shadow: 0 0 0;
}

.panel-default > .panel-heading {
    background-image: none;
    background-color: white;
}

.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0;
}

.panel-body > ul {
    list-style-type: disc;
    margin-bottom: 20px;
    padding-left: 15px;
}

.panel-heading > h4 {
    color: #2FA8E4;
    font-size: 190%;
    
}

.panel-group .panel:first-child {
    margin-top: 60px;
}

.panel-body > h5 {
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 20px;
    margin-top: 40px;
}

.panel-body > h5:first-of-type {
    margin-top: 10px;
}

.collapse.in {
    display: block;
}

.download-document {
    display: inline-block;
    background-color: #E4E4E4;
    margin: 8px;
    padding: 8px;
}

.download-document p {
    margin-bottom: 0;
}

.download-document a {
    font-style: initial;
    text-decoration: underline;
    color: red;
}

.download-document a:hover {
    text-decoration: none;
}

h4 {
    font-weight: bold;
}

h1 > span, h3 > span {
    display: block;
}

h1 > span {
    margin-top: 10px;
}

a.link-grey {
    color: #3F3F3F !important;
}


a.link-grey:hover {
    text-decoration: none;
}

a.link-grey:hover * {
    color: black;
    font-weight: bold;
}

.company-name-header {
    font-size: 25px;
}

.company-name-header > span {
    font-size: initial;
    font-style: italic;
    margin-top: 4px;
}

.tab-container >.row {
    margin: 0;
}

.tab-container > .row:first-of-type {
    background: white;
    padding-top: 20px;
}

.tab-container > .row:last-of-type {
    background: #616161;
}

.row-infolists {
    padding-top: 32px;
    padding-bottom: 25px;
    color: white;
    width: 100%;
    margin: 0;
}

.row-infolists ol {
    margin-bottom: 0;
}

.row-infolists ol li {
    margin-bottom: 5px;
    font-size: 13px;
}

button[class^="company-button"] {
    width: 100%;
    height: 100%;
}

button.company-button-delete {
    height: 75px;
}

#editCompanyForm .form-group {
    margin-bottom: 0;
}

#editCompanyForm .form-group h3 {
    font-size: 21px;
    font-weight: bold;
}

.font-smaller,
.font-smaller * {
    font-size: 12px;
}

.table-inputs td {
    padding: 0;
}

.table-inputs td input {
    height: 100%;
    width: 100%;
}

.fill {
    height: 100%;
    width: 100%;
}

.background-red {
    background-color: red !important;
    color: white !important;
}

.first-half {
    float: left;
    width: 50%;
    text-align: left;
}
.second-half {
    float: right;
    width: 50%;
    text-align: right;
}

.td-date {
    text-align: center;
    font-weight: bold;
}

.tab-toggle {
    box-sizing: content-box;
}

.tab-toggle,
.tab-toggle > div {
    margin: auto;
    margin-top: 0;
}

.imgnavbar > div > div { 
    filter: grayscale(100%); 
    opacity: 0.75; 
    background-size: 72%;
    background-repeat: no-repeat; 
    background-position: bottom; 
    -webkit-transition: .5s; /* Safari */
    transition: .5s;
} 

.imgnavbar > div.active > div,
.imgnavbar > div:hover > div {
    filter: initial;
    opacity: initial;
    background-size: 100%;

}

.imgnavbar > div:hover span {
    font-weight: bold;
}

#tab-toggle-restaurace > div {
    background-image: url('/assets/img/imgnavbar/restaurace_active.jpg');
}

#tab-toggle-hotel > div {
    background-image: url('/assets/img/imgnavbar/hotel_active.jpg');
}

#tab-toggle-nemocnice > div {
    background-image: url('/assets/img/imgnavbar/nemocnice_active.jpg');
}

#tab-toggle-vzdelani > div {
    background-image: url('/assets/img/imgnavbar/vzdelani_active.jpg');
}

#tab-toggle-stavba > div {
    background-image: url('/assets/img/imgnavbar/stavba_active.jpg');
}

#tab-toggle-vyroba > div {
    background-image: url('/assets/img/imgnavbar/vyroba_active.jpg');
}

#tab-toggle-obchod > div {
    background-image: url('/assets/img/imgnavbar/obchod_active.jpg');
}

.simple-link {
    float: right;
}

.simple-link:hover {
    text-decoration: none;
    color: #014c8c;
    font-weight: bold;
    float: right;
}

.row-aligned-text > div {
    display: grid;
}

.row-aligned-text > div > * {
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
}

.row-aligned-text > div:last-child > * {
    margin-left: auto;
}

.col-aligned-content {
    display: table;
}

.div-aligned-content > * {
    display: table-cell;
    vertical-align: middle;
}

.div-aligned-content > * > * {
    margin: auto;
}


@media (max-width: 767px) {
    ul.chapters > li {
        font-size: 17px;
    }
}

.container-subnav {
    margin-top: 45px;
}

.container-subnav p {
    margin-bottom: 0;
}

.aligned-content-vert {
    display: grid;
}

.aligned-content-vert > * {
    margin-top: auto;
    margin-bottom: auto;
}

.link-icon-pre img {
    vertical-align: text-bottom;
    margin-bottom: -1.5px;
    margin-right: 5px;
    width: 16px;
    height: 21px;
}

.link-icon-pre:hover img {
    width: 18px;
    height: 23px;
    margin-bottom: -2.5px;
}

.add-company-form, .add-document-form {
    margin-top: 15px;
}

@-moz-document url-prefix() { 
    .container-big-blue {
        height: 225px;
    }
}

.grid-div {
    display: grid;
}

.grid-div > * {
    margin: auto;
    display: block;
    max-width: 100%
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row-eq-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.form-inline label {
    margin: auto;
    margin-right: 5px;
}

.wide-full {
    width: 100% !important;
}
